<div class="formarea">
        <% if current_user %>
          <%= form_tag("/top/#{@article.id}/comments", method: :post, remote: true) do %>
            <div class="comments-text"><textarea name="text" placeholder="コメントする"></textarea></div>
            <button class="btn" type="submit" value="SENT" style="margin-top:15px">投稿する</button>
          <% end %>
        <% end %>
      </div>