<% if @comments %>
        <% @comments.each do |comment| %>
        <div class="comments-personal">
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <p class="comment-detail"><%= comment.text %></p>
          <% if comment.user_id == current_user.id %>
          <strong><%= link_to "コメント削除", "/top/#{@article.id}/comments/#{comment.id}", method: :delete %></strong>
        </div>
          <% end %>
        <% end %>
      <% end %>