<div class="container">
    <h4>投稿一覧</h4>
    <% @articles.each do |article| %> 
        <div class="article">
            <p><%= article.text %></p>
            <div class="btn"><%= link_to '詳細', "/top/#{article.id}", method: :get %></div>
        </div>
    <% end %>
    <%= paginate(@articles) %>
</div>