<div class="container">
    <h4>投稿一覧</h4>
    <% @articles.each do |article| %> 
        <div class="article">
            <p><%= article.text %></p>
        </div>
    <% end %>
    
    <div class="comments"> 
    <!-- ここからフォーム -->
    <% if current_user %>
      <%= form_tag("/top/#{@top.id}/comments", method: :post) do %>
        <textarea name="text" placeholder="コメントする" rows="2" cols="30"></textarea>
        <input type="submit" value="SENT">
      <% end %>
    <% end %>
  </div>
    <%= paginate(@articles) %>
</div>