<div class="container">
    <h4>投稿一覧</h4>
      <% @articles.each do |article| %>
        <div class="article">
          <%= simple_format(article.text) %>
        </div>
      <% end %>
    <%= paginate(@articles) %>
</div>
    