<div class="container">
  <%= form_tag('/top', method: :post) do %>
  <h4 class="title" style="margin-bottom:25px">新規投稿</h4>

    <form>
      <div class="input-field">
        <textarea type="text" id="textarea" name="text" class="textarea" placeholder="500文字以内で身の回りのポジティブなできごとを入力してください。" style="height:350px"></textarea>
      </div>
      <button class="btn" type="submit" value="SENT" style="margin-top:15px">投稿する</button>
    </form>
  <% end %>
</div>