<div class="container">
  <%= form_tag('/top', method: :post) do %>
  <h4 class="title" style="margin-bottom:25px">新規投稿</h4>
    <form>
      <div class="input-field">
        <textarea type="text" id="textarea" name="text" class="textarea" placeholder="本文" style="height:350px"></textarea>
        <!--<label class="active" for="textarea">本文</label>-->
      </div>
      <button class="btn" type="submit" value="SENT" style="margin-top:15px">投稿する</button>
    </form>
  <% end %>
</div>