<div class="container">
  <div class="article">
    <p class="detail"><%= @article.text %></p>
  </div>
    <div class="comments-form"> 
      <% if current_user %>
        <%= form_tag("/top/#{@article.id}/comments", method: :post) do %>
          <textarea name="text" placeholder="コメントする" rows="2" cols="30"></textarea>
          <input type="submit" value="SENT">
        <% end %>
      <% end %>
    </div>
    
    <div class="comments">   
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p><%= comment.text %></p>
        <% end %>
      <% end %>
    </div>
</div>