<div class="container">
  <h4>投稿詳細ページ</h4>
  <div class="article">
      <strong><%= link_to @article.user.nickname %></strong>
     <p class="detail"><%= @article.text %></p>
    <% if user_signed_in? %>
    <id class="btn" id="btn">コメントする</id>
    <% end %>
    <script>
    $(function() {
        $('#btn').on('click', function() {
          if($('.formarea').css('display')=='none'){
              $('.formarea').slideDown();
          } else {
              $('.formarea').slideUp();
           }
          });
        });
    </script>
  </div>
  
  <% if user_signed_in? %>
  <div class="comments-form" id="comments-area">
  <%= render partial: 'top/form', locals: { comment: @comment, article: @article } %>
   </div>

  <div class="comments-view">
    <h4>コメント一覧</h4>
    <%= render partial: 'top/show', locals: { comments: @comments } %>
    </div>
  <% end %>
</div>