body, html {
  height: 100%;
  background-color: white;
}

h4 {
  text-align: center;
  font-family: sans-serif;
  color: #4a4a4a;
  line-height: 1.77;
}

.article {
  border: 3px solid #ccc;
  padding: 15px;
  margin: 20px;
  line-height: 2.0;
  text-align: left;
}

p {
  overflow: hidden;
  font-family: sans-serif;
  color: #4a4a4a;
  height: 6em;
}
  
.pagination {
  background-color: #00bfa5;
}

.btn a {
  color: white;
}