body, html {
  height: 100%;
  background-color: white;
}

h4 {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  color: #4a4a4a;
  line-height: 1.77;
  position: relative;
  }
  
h5 {
  line-height: 60px;
  font-size: 35px;
  margin-top: 15px;
  color: #4a4a4a;
}
  
h5 span {
  color: #999;
  font-size: 85%;
}

h7 {
  font-size: .8rem;
  color: #9e9e9e;
}

.container {
  position: relative;
  margin-bottom: 30px;
}

.container-form {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.comments-form {
  margin-left: 35px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.comments {
  margin-left: 35px;
  margin-right: 40px;
  margin-top: 20px;
  border: solid 1.5px #ccc;
}


.comments-form textarea {
  height: 150px;
}

.article {
  border: solid 3px #ccc;
  outline: solid 1px #ccc;
  outline-offset: 1px;
  padding: 15px;
  margin: 20px;
  position: relative;
  line-height: 2.0;
  text-align: left;
}

p {
  overflow: hidden;
  font-family: sans-serif;
  font-weight: bold;
  color: #4a4a4a;
  height: 6em;
  margin: 0;
  padding: 0;
}

.detail {
  overflow: visible;
  font-family: sans-serif;
  font-weight: bold;
  color: #4a4a4a;
  margin: 0;
  padding: 0;
  height: auto;
}

.more {
  text-align: right;
}


.form {
  margin-top: 100px;
}
  
.pagination {
  background-color: #00bfa5;
}

.btn a {
  color: white;
}

textarea {
  resize: none;
}

.container-user {
  display: inline-block;
  width: 450px;
  margin-top: 30px;
  margin-bottom: 20px;
  vertical-align: middle;
}

/*ユーザーページのユーザーの画像を表示するcss*/
.user-image img {
  float: left;
  border-radius: 50%;
    width:  100px;
    height: 100px;
    overflow: hidden;
    margin-right: 10px;
}

.image-field {
  height: 50px
}